<%= form_for(beach) do |f| %>
  <% if beach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beach.errors.count, "error") %> prohibited this beach from being saved:</h2>

      <ul>
      <% beach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :beach_name %>
    <%= f.text_field :beach_name %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :sand_color %>
    <%= f.text_field :sand_color %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :main_image %>
    <%= f.text_field :main_image %>
  </div>

  <div class="field">
    <%= f.label :secondary_image %>
    <%= f.text_field :secondary_image %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :wave_type %>
    <%= f.text_field :wave_type %>
  </div>

  <div class="field">
    <%= f.label :snorkeling %>
    <%= f.check_box :snorkeling %>
  </div>

  <div class="field">
    <%= f.label :swimming %>
    <%= f.check_box :swimming %>
  </div>

  <div class="field">
    <%= f.label :shade %>
    <%= f.check_box :shade %>
  </div>

  <div class="field">
    <%= f.label :night_life %>
    <%= f.check_box :night_life %>
  </div>

  <div class="field">
    <%= f.label :camping_zone %>
    <%= f.check_box :camping_zone %>
  </div>

  <div class="field">
    <%= f.label :protected_area %>
    <%= f.check_box :protected_area %>
  </div>

  <div class="field">
    <%= f.label :cristal_water %>
    <%= f.check_box :cristal_water %>
  </div>

  <div class="field">
    <%= f.label :vegetation %>
    <%= f.text_field :vegetation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
