<p id="notice"><%= notice %></p>

<p>
  <strong>Beach name:</strong>
  <%= @beach.beach_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @beach.location %>
</p>

<p>
  <strong>Sand color:</strong>
  <%= @beach.sand_color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beach.description %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @beach.main_image %>
</p>

<p>
  <strong>Secondary image:</strong>
  <%= @beach.secondary_image %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @beach.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @beach.longitude %>
</p>

<p>
  <strong>Wave type:</strong>
  <%= @beach.wave_type %>
</p>

<p>
  <strong>Snorkeling:</strong>
  <%= @beach.snorkeling %>
</p>

<p>
  <strong>Swimming:</strong>
  <%= @beach.swimming %>
</p>

<p>
  <strong>Shade:</strong>
  <%= @beach.shade %>
</p>

<p>
  <strong>Night life:</strong>
  <%= @beach.night_life %>
</p>

<p>
  <strong>Camping zone:</strong>
  <%= @beach.camping_zone %>
</p>

<p>
  <strong>Protected area:</strong>
  <%= @beach.protected_area %>
</p>

<p>
  <strong>Cristal water:</strong>
  <%= @beach.cristal_water %>
</p>

<p>
  <strong>Vegetation:</strong>
  <%= @beach.vegetation %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @beach.comments %>
</p>

<%= link_to 'Edit', edit_beach_path(@beach) %> |
<%= link_to 'Back', beaches_path %>
